<template>
  <form>
    <v-text-field
        v-model="name"
        :error-messages="nameErrors"
        :counter="10"
        label="Name"
        required
        @input="$v.name.$touch()"
        @blur="$v.name.$touch()"
    ></v-text-field>
    <v-textarea
        v-model="description"
        :error-messages="descriptionErrors"
        label="Description"
        required
        @input="$v.description.$touch()"
        @blur="$v.description.$touch()"
    ></v-textarea>
    <v-menu
        ref="menu"
        :close-on-content-click="false"
        :return-value.sync="start_date"
        transition="scale-transition"
        offset-y
        min-width="auto"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
            v-model="start_date"
            label="Start Date"
            :error-messages="dateErrors"
            @input="$v.start_date.$touch()"
            @blur="$v.start_date.$touch()"
            readonly
            v-bind="attrs"
            v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker
          v-model="start_date"
          no-title
          scrollable
      >
        <v-spacer></v-spacer>
        <v-btn
            text
            color="primary"
            @click="menu = false"
        >
          Cancel
        </v-btn>
        <v-btn
            text
            color="primary"
            @click="$refs.menu.save(start_date)"
        >
          OK
        </v-btn>
      </v-date-picker>
    </v-menu>
    <v-btn
        class="mr-4"
        @click="submit"
        color="primary"
    >
      submit
    </v-btn>
    <v-btn @click="clear" text>
      clear
    </v-btn>
  </form>
</template>
<script>
import { format } from 'date-fns'
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength } from 'vuelidate/lib/validators'
import { alphaNumWithSpaces } from "../../common/validation-helpers"

export default {
  name: "AddProject",
  mixins: [validationMixin],

  validations: {
    name: { required, minLength: minLength (10), maxLength: maxLength(80), alphaNumWithSpaces },
    description: { required, minLength: minLength (50), maxLength: maxLength(300) },
    start_date: { required }
  },

  data: () => ({
    name: '',
    description: '',
    start_date: '',
  }),

  props: {
    projectId: String
  },

  computed: {
    minDate() {
      console.log(format(new Date(), 'yyyy-MM-dd'))
      return format(new Date(), 'yyyy-MMdd');
    },
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.minLength && errors.push('Name must be at least 10 characters long'),
      !this.$v.name.maxLength && errors.push('Name must be at most 80 characters long')
      !this.$v.name.alphaNumWithSpaces && errors.push('Name must be alphanumeric')
      !this.$v.name.required && errors.push('Name is required.')
      return errors
    },
    descriptionErrors () {
      const errors = []
      if (!this.$v.description.$dirty) return errors
      !this.$v.description.minLength && errors.push('Description must be at least 50 characters long'),
      !this.$v.description.maxLength && errors.push('Description must be at most 300 characters long')
      !this.$v.description.required && errors.push('Description is required.')
      return errors
    },
    dateErrors() {
      const errors = []
      if (!this.$v.start_date.$dirty) return errors
      !this.$v.start_date.required && errors.push('Date is required.')
      return errors
    },
  },

  methods: {
    async submit () {
      this.$v.$touch();
      try {
        if (!this.$v.$invalid) {
          const result = await this.$http.post(process.env.VUE_APP_API + `/projects`, {
            name: this.name,
            description: this.description,
            start_date: this.start_date
          });
          this.clear();
          this.$emit('newProjectCreated', { id: result.data.id });
        }
      } catch (err) {
        alert(`Failed to create project. (${err.response.data.error})`)
      }
    },
    clear () {
      this.$v.$reset()
      this.name = ''
      this.description = '';
    },
  },
}
</script>
