<template>
  <div class="view-projects">
    <h6 class="head-title">Employees</h6>
    <div class="row">
      <div class="col-md-4">
        <v-list two-line>
          <v-list-item-group active-class="pink--text">
            <template v-for="(emp) in employees">
              <v-list-item :key="emp.id" @click="getEmployee(emp.id)">
                <template>
                  <v-list-item-content>
                    <v-list-item-title v-text="emp.full_name"></v-list-item-title>
                    <v-list-item-subtitle
                        class="text--secondary"
                        v-text="emp.unique_code"
                    ></v-list-item-subtitle>
                    <v-list-item-subtitle v-text="emp.email"></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </v-list-item>
            </template>
          </v-list-item-group>
        </v-list>
      </div>
      <div class="col-md-8">
        <!--        <router-view></router-view>-->
        <v-tabs
            v-model="active_tab_index"
            background-color="primary"
            dark
        >
          <v-tab> Details </v-tab>
          <v-tab> Projects </v-tab>
          <v-tab> Add Employee </v-tab>
        </v-tabs>

        <v-tabs-items v-model="active_tab_index">
          <v-tab-item>
            <v-card flat v-if="employees.length > 0">
              <v-text-field
                  v-model="employee.full_name"
                  label="Name"
                  clearable
                  :error-messages="nameErrors"
                  required
                  @input="$v.employee.full_name.$touch()"
                  @blur="$v.employee.full_name.$touch()"
              ></v-text-field>
              <v-text-field
                  v-model="employee.email"
                  label="Email"
                  readonly
              ></v-text-field>
              <v-btn color="primary" class="update" @click="update">
                update
              </v-btn>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <h4 class="mt-5">Linked Projects</h4>
              <v-card v-if="employee && employee.projects && employee.projects.length > 0">
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                    <tr>
                      <th class="text-left">
                        Id
                      </th>
                      <th class="text-left">
                        Name
                      </th>
                      <th class="text-left">
                        Code
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                        v-for="project in employee.projects"
                        :key="project.id"
                    >
                      <td>{{ project.unique_code }}</td>
                      <td>{{ project.name }}</td>
                      <td>{{ project.description.substring(0.25) + '...' }}</td>
                    </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-card>
              <v-card-text v-else>No projects linked</v-card-text>
              <v-divider></v-divider>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <AddEmployee @newEmployeeCreated="onNewEmployeeCreated"></AddEmployee>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </div>
    </div>
  </div>
</template>

<script>
import AddEmployee from '../components/employee/Add';
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength, email } from 'vuelidate/lib/validators'
import { alphaNumWithSpaces } from "../common/validation-helpers"
export default {
  name: 'Employee',
  mixins: [validationMixin],
  validations: {
    employee: {
      full_name: {required, minLength: minLength(3), alphaNumWithSpaces, maxLength: maxLength(50)},
      email: { required, email },
    }
  },
  data() {
    return {
      active_tab_index:0,
      projects: [],
      employees: [],
      employee: {
        full_name:'',
        email:''
      }
    }
  },
  components: {
    AddEmployee
  },
  async beforeMount() {
    await this.list();
    if(this.employees.length > 0) {
      await this.getEmployee(this.employees[0].id)
    }
  },
  computed: {
    nameErrors () {
      const errors = []
      if (!this.$v.employee.full_name.$dirty) return errors
      !this.$v.employee.full_name.minLength && errors.push('Name must be at least 10 characters long'),
      !this.$v.employee.full_name.maxLength && errors.push('Name must be at most 80 characters long')
      !this.$v.employee.full_name.alphaNumWithSpaces && errors.push('Name must alphanumeric'),
      !this.$v.employee.full_name.required && errors.push('Name is required.')
      return errors
    },
    descriptionErrors () {
      const errors = []
      if (!this.$v.project.description.$dirty) return errors
      !this.$v.employee.email.email && errors.push('Not a valid email address'),
      !this.$v.employee.email.required && errors.push('Email is required.')
      return errors
    },
  },
  methods: {
    async list() {
      let result = await this.$http.get(process.env.VUE_APP_API + '/employees')
      this.employees = result.data;
    },
    async getEmployee(id) {
      let result = await this.$http.get(process.env.VUE_APP_API + '/employees/' + id)
      this.employee = result.data;
      this.$v.$reset();
    },
    async update() {
      await this.$http.put(process.env.VUE_APP_API + `/employees/${this.employee.id}`, { full_name: this.employee.full_name, email: this.employee.email });
      this.list();
      alert('Updated successfully');
    },
    async onNewEmployeeCreated(e) {
      await this.list();
      await this.getEmployee(e.id);
      this.tab = 0;
    },
  }
}
</script>
