<template>
  <div class="view-projects">
    <h6 class="head-title">Projects</h6>
    <div class="row">
      <div class="col-md-4">
        <v-list two-line>
          <v-list-item-group active-class="pink--text">
            <template v-for="(project) in projects">
              <v-list-item :key="project.id" @click="getProject(project.id)">
                <template>
                  <v-list-item-content>
                    <v-list-item-title v-text="project.name"></v-list-item-title>
                    <v-list-item-subtitle
                        class="text--secondary"
                        v-text="project.unique_code"
                    ></v-list-item-subtitle>
                    <v-list-item-subtitle v-text="project.description.substring(0, 25) + '...'"></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </v-list-item>
            </template>
          </v-list-item-group>
        </v-list>
      </div>
      <div class="col-md-8">
<!--        <router-view></router-view>-->
        <v-tabs
            v-model="active_tab_index"
            background-color="primary"
            dark
        >
          <v-tab> Details </v-tab>
          <v-tab> Employees </v-tab>
          <v-tab> Add Project </v-tab>
        </v-tabs>

        <v-tabs-items v-model="active_tab_index">
          <v-tab-item>
            <v-card flat v-if="projects.length > 0">
              <v-text-field
                  v-model="project.name"
                  label="Name"
                  clearable
                  :error-messages="nameErrors"
                  required
                  @input="$v.project.name.$touch()"
                  @blur="$v.project.name.$touch()"
              ></v-text-field>
              <v-text-field
                  v-model="project.unique_code"
                  label="Code"
                  readonly
              ></v-text-field>
              <v-textarea
                  v-model="project.description"
                  label="Description"
                  rows="2"
                  clearable
                  :error-messages="descriptionErrors"
                  @input="$v.project.description.$touch()"
                  @blur="$v.project.description.$touch()"
              ></v-textarea>
              <v-menu
                  ref="menu"
                  :close-on-content-click="false"
                  :return-value.sync="project.start_date"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                      v-model="computedStartDate"
                      label="Start Date"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                    v-model="project.start_date"
                    no-title
                    scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn
                      text
                      color="primary"
                      @click="menu = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                      text
                      color="primary"
                      @click="$refs.menu.save(project.start_date)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
              <v-btn color="primary" class="update" @click="update">
              update
            </v-btn>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <h4 class="mt-5">Linked Employees</h4>
              <v-card v-if="project && project.employees && project.employees.length > 0">
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                    <tr>
                      <th class="text-left">
                        Id
                      </th>
                      <th class="text-left">
                        Name
                      </th>
                      <th class="text-left">
                        Email
                      </th>
                      <th class="text-left">
                        Action
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                        v-for="emp in project.employees"
                        :key="emp.id"
                    >
                      <td>{{ emp.unique_code }}</td>
                      <td>{{ emp.full_name }}</td>
                      <td>{{ emp.email }}</td>
                      <td><v-btn
                          text
                          color="error"
                          @click="deassign(emp.id)"
                      >
                        Unlink
                      </v-btn></td>
                    </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-card>
              <v-card-text v-else>No employees linked</v-card-text>
              <v-divider></v-divider>
              <h4 class="mt-5">Available Employees</h4>
              <v-simple-table v-if="employees.length > 0">
                <template v-slot:default>
                  <thead>
                  <tr>
                    <th class="text-left">
                      Id
                    </th>
                    <th class="text-left">
                      Name
                    </th>
                    <th class="text-left">
                      Email
                    </th>
                    <th class="text-left">
                      Action
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                      v-for="emp in employees"
                      :key="emp.id"
                  >
                    <td>{{ emp.unique_code }}</td>
                    <td>{{ emp.full_name }}</td>
                    <td>{{ emp.email }}</td>
                    <td><v-btn
                        text
                        color="primary"
                        @click="assign(emp.id)"
                    >
                      Link
                    </v-btn></td>
                  </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <AddProject @newProjectCreated="onNewProjectCreated"></AddProject>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
      </div>
    </div>
  </div>
</template>

<script>
  import { format, parseISO } from 'date-fns'
  import AddProject from '../components/project/Add';
  import { validationMixin } from 'vuelidate'
  import { required, maxLength, minLength } from 'vuelidate/lib/validators'
  import { alphaNumWithSpaces } from "../common/validation-helpers"
  export default {
    name: 'Project',
    mixins: [validationMixin],
    validations: {
      project: {
        name: {required, minLength: minLength(10), maxLength: maxLength(80), alphaNumWithSpaces },
        description: {required, minLength: minLength(50), maxLength: maxLength(300)},
      }
    },
    data() {
      return {
        active_tab_index:0,
        projects: [],
        employees: [],
        project: {
          name:'',
          description:'',
          start_date:'',
          unique_code: ''
        }
      }
    },
    components: {
      AddProject
    },
    async beforeMount() {
      await this.list();
      await this.employeeList();
      if(this.projects.length > 0) {
        await this.getProject(this.projects[0].id)
      }
    },
    computed: {
      computedStartDate() {
        return (this.project && this.project.start_date) ? format(parseISO(this.project.start_date), 'EEEE, MMMM do yyyy') : ''
      },
      dateErrors() {
        const errors = []
        if (!this.$v.start_date.$dirty) return errors
        !this.$v.start_date.required && errors.push('Date is required.')
        return errors
      },
      nameErrors () {
        const errors = []
        if (!this.$v.project.name.$dirty) return errors
        !this.$v.project.name.minLength && errors.push('Name must be at least 10 characters long'),
        !this.$v.project.name.maxLength && errors.push('Name must be at most 80 characters long')
        !this.$v.project.name.alphaNumWithSpaces && errors.push('Name must be alphanumeric.')
        !this.$v.project.name.required && errors.push('Name is required.')
        return errors
      },
      descriptionErrors () {
        const errors = []
        if (!this.$v.project.description.$dirty) return errors
        !this.$v.project.description.minLength && errors.push('Description must be at least 50 characters long'),
        !this.$v.project.description.maxLength && errors.push('Description must be at most 300 characters long')
        !this.$v.project.description.required && errors.push('Description is required.')
        return errors
      },
    },
    methods: {
      async list() {
        let result = await this.$http.get(process.env.VUE_APP_API + '/projects')
        this.projects = result.data;
      },
      async getProject(id) {
        let result = await this.$http.get(process.env.VUE_APP_API + '/projects/' + id)
        this.project = result.data;
        this.$v.$reset();
      },
      async employeeList() {
        let result = await this.$http.get(process.env.VUE_APP_API + '/employees')
        this.employees = result.data;
      },
      async assign(empId) {
        await this.$http.post(process.env.VUE_APP_API + `/projects/${this.project.id}/assign`, { employees: [empId]});
        await this.getProject(this.project.id)
      },
      async deassign(empId) {
        await this.$http.post(process.env.VUE_APP_API + `/projects/${this.project.id}/deassign`, { employees: [empId]});
        await this.getProject(this.project.id)
      },
      async update() {
        await this.$http.put(process.env.VUE_APP_API + `/projects/${this.project.id}`, { name: this.project.name, description: this.project.description });
        alert('Updated successfully');
      },
      async onNewProjectCreated(e) {
        await this.list();
        await this.getProject(e.id);
        this.tab = 0;
      },
      formatDate (date) {
        if (!date) return null;
        const [year, month, day] = date.split('-')
        return `${month}/${day}/${year}`
      },
      parseDate (date) {
        if (!date) return null
        const [month, day, year] = date.split('/')
        return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
      },
    }
  }
</script>
