<template>
  <form>
    <v-text-field
        v-model="full_name"
        :error-messages="nameErrors"
        :counter="10"
        label="Full Name"
        required
        @input="$v.full_name.$touch()"
        @blur="$v.full_name.$touch()"
    ></v-text-field>
    <v-text-field
        v-model="email"
        :error-messages="emailErrors"
        label="Email"
        required
        @input="$v.email.$touch()"
        @blur="$v.email.$touch()"
    ></v-text-field>
    <v-btn
        class="mr-4"
        @click="submit"
        color="primary"
    >
      submit
    </v-btn>
    <v-btn @click="clear" text>
      clear
    </v-btn>
  </form>
</template>
<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength, email } from 'vuelidate/lib/validators'
import { alphaNumWithSpaces } from "../../common/validation-helpers"

export default {
  name: "AddEmployee",
  mixins: [validationMixin],

  validations: {
    full_name: { required, minLength: minLength (3), maxLength: maxLength(50), alphaNumWithSpaces },
    email: { required, email },
  },

  data: () => ({
    full_name: '',
    email: '',
  }),

  props: {

  },

  computed: {
    nameErrors () {
      const errors = []
      if (!this.$v.full_name.$dirty) return errors
      !this.$v.full_name.minLength && errors.push('Name must be at least 10 characters long'),
      !this.$v.full_name.maxLength && errors.push('Name must be at most 80 characters long')
      !this.$v.full_name.alphaNumWithSpaces && errors.push('Name must be alphanumeric')
      !this.$v.full_name.required && errors.push('Name is required.')
      return errors
    },
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Not a valid email address'),
      !this.$v.email.required && errors.push('Email is required.')
      return errors
    },
  },

  methods: {
    async submit () {
      this.$v.$touch();
      try {
        if (!this.$v.$invalid) {
          const result = await this.$http.post(process.env.VUE_APP_API + `/employees`, {
            full_name: this.full_name,
            email: this.email,
          });
          this.clear();
          this.$emit('newEmployeeCreated', { id: result.data.id });
        }
      } catch (err) {
        alert(`Failed to create employee. (${err.response.data.error})`)
      }
    },
    clear () {
      this.$v.$reset()
      this.full_name = ''
      this.email = '';
    },
  },
}
</script>
