<template>
  <v-app>
    <v-app-bar
        app
        color="primary"
        dark
    >
      <div class="d-flex align-center">
        <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="https://www.gsk.com/assets/img/logo-gsk.png"
            transition="scale-transition"
            width="40"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
          href="https://github.com/vuetifyjs/vuetify/releases/latest"
          target="_blank"
          text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>
    <div class="main-view">
      <v-container fluid>
        <v-row>
          <v-col md="2">
            <v-navigation-drawer permanent>
              <v-list class="side-nav"
                  dense
                  rounded
              >
                <v-list-item
                    v-for="item in items"
                    :key="item.title"
                    link
                >
                  <v-list-item-icon>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <router-link :to=item.route class="side-nav-item">{{ item.title }}</router-link>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-navigation-drawer>
          </v-col>
          <v-col md="8">
            <transition name="fade">
              <router-view></router-view>
            </transition>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data() {
    return {
      items: [
        {title: 'Projects', icon: 'mdi-view-dashboard', route: "/"},
        {title: 'Employees', icon: 'mdi-account-multiple', route: "/employees"},
      ],
    }
  },
};
</script>
<style scoped>
.main-view {
  margin-top:50px;
}
.side-nav {
  height: 92.2vh;
}
.side-nav-item {
  text-decoration: none;
  color: rgb(58, 58, 58)
}
</style>
